<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}

    <meta charset="utf-8" />
    <title>菜價王</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{% static "css/materialize/materialize.css" %}" rel="stylesheet" />
    <link href="{% static "css/myCss.css" %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static "js/materialize/materialize.js" %}"></script>
    <script src="{% static "js/echarts/dist/echarts.min.js" %}"></script>
    <script src="{% static "js/myJS.js" %}"></script>
</head>

<body>

    <!-- Navbar will come here -->


    <!-- end navbar -->


    <div class="header">

    </div>
    <!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
    <div class="main">
        <div id="floater"></div>
        <div id="mychart" class="container z-depth-2" style="margin:auto;background-color:#FFFFFF;">
            <div class="row s12">
                <div class="col s2" style="margin-top:8px;">
                    <div class="input-field">
                        <select id="product_select">
                            <option value="" disabled selected>選擇農產品</option>
                            <optgroup label="蔬菜">
                                <option selected value="0">高麗菜</option>
                                <option value="1">九層塔</option>
                                <option value="2">大蒜</option>
                                <option value="3">小白菜</option>
                                <option value="4">玉米</option>
                                <option value="5">地瓜</option>
                                <option value="6">竹筍</option>
                                <option value="7">辣椒</option>
                                <option value="8">番茄</option>
                                <option value="9">花椰菜</option>
                                <option value="10">青江菜</option>
                                <option value="11">青蔥</option>
                                <option value="12">南瓜</option>
                                <option value="13">洋蔥</option>
                                <option value="14">甜椒</option>
                                <option value="15">菠菜</option>
                                <option value="16">馬鈴薯</option>
                            </optgroup>
                            <optgroup label="水果">
                                <option value="17">香蕉</option>
                                <option value="18">蘿蔔</option>
                                <option value="19">芒果</option>
                                <option value="20">草莓</option>
                                <option value="21">葡萄</option>
                                <option value="22">西瓜</option>
                                <option value="23">鳳梨</option>
                                <option value="24">蘋果</option>
                                <option value="25">椪柑</option>
                            </optgroup>
                        </select>

                        <select id="location_select">
                            <option selected value="29">高雄</option>
                            <option value="26">桃園</option>
                            <option value="27">宜蘭</option>
                            <option value="28">台中</option>
                            <option value="30">台東</option>
                        </select>

                    </div>
                </div>
                <div class="x_panel col s10">
                    <div class="x_content">
                        <div id="echart_line" style="height:470px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div </body>


</html>
